body{
    background-color:blanchedalmond;}

#main-container{
    margin: 150px auto;
    width: 600px;
}

table{
    background-color:#fcfcfc;
    width: 85%;
    border-collapse: collapse;
    text-align:center;
}

th, td{
    border:solid 1px black;
    padding: 10px;
}